body{
        margin: 0px;
        padding: 0px;
        font-family: Arial,sans-serif;
}
header{
        background-color: #e2e7ec;
        color:white;
        text-align: center;
        padding: 15px;
        font-size: 24px;
}

.sarra{
       padding: 15px;
       border-radius: 12px;
       margin-left:40px;
       margin-right: 40px;
       font-weight:600;
       box-shadow: 0 2px 6px rgba(19, 15, 15, 0.1);
}

.program{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
}
.program:hover{
        transform: translateY(-3px);
        box-shadow: 0px 3px 6px black;


}
.languagesection{
        margin-bottom: 15px;
}

pre{
        padding: 10px;
        color: wheat;
        background:#121211;
        overflow-x: auto;
        border-radius: 6px;
}
.sarra p{
        color: #181111;
        font-size: 15px;
}

.easylevel{
        border-radius: 8px;
        font-size:16px;
        color: #0612b9;
        display: inline-block;
        margin: 8px 0;
        padding: 4px 10px;
}
.solution_cha_block{
        margin-top: 15px;
        border-top: 1px solid white;
        padding: 12px;
        display: none;
}
.sarra h3{
        font-size: 20px;
        color: #191414;
        margin: 0px;
}