body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background: linear-gradient(120deg, #1e7397, #182c32, #033c55);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.vaibhav_nav {
  height: 55px;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 18px;
}
.leader {
  font-size: 29px;
  position: relative;
  top: 9px;
  padding: 5px;
  border-radius: 10px;
}
.login_button {
  border: 2px solid rgb(91, 91, 49);
  padding: 3px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border-radius: 5px;
}
.login_button:hover {
  background-color: rgb(207, 242, 8);
}
.first_image {
  opacity: 0.35;
  transition: 0.1s ease;
  border-radius: 20px;
  margin-left: 24px;
}
.debbas p {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 750px;
  margin: auto;
}
.boxi {
  background-color: #b1b4a3;
  backdrop-filter: blur(4px);
  color: rgb(11, 1, 1);
  width: 200px;
  height: 115px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.9s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.boxi:hover {
  background-color: #ffffff30;
  transform: translate(-4px);
}

.heading_faq {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}
.details {
  margin-left: 200px;
  margin-right: 200px;
}
details {
  margin-bottom: 15px;
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
}
summary {
  font-weight: bold;
  cursor: pointer;
}
/*Footer Section*/
.links_section {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, sans-serif;
}

/* Aptitude Section */
.apti {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 80px;
}
.apti h2 {
  color: #0d0d0d;
}
.unordered_list {
  padding-left: 20px;
}
.lii {
  margin-bottom: 5px;
}
.linker {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 2px;
  background-color: #eeecf2;
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 2px;
}
.extra_links {
  float: right;
  margin-right: 100px;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

/*Group Discussion Style*/

.group_discussion_section {
  max-width: 1252px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1s);
}

.group_discussion_section h2,
h3,
h4 {
  color: #01070d;
}
.group_discussion_type {
  margin-bottom: 40px;
}
.topic {
  margin-left: 20px;
  margin-bottom: 25px;
}
.explain {
  margin-left: 40px;
  color: #0d0331;
}
.tackle {
  margin-left: 40px;
  background-color: white;
  padding: 10px 15px;
  border-left: 4px solid #0d0027;
  border-radius: 5px;
}
.tackle ul {
  padding-left: 20px;
}
/*Login Section*/
input {
  margin-left: 20px;
  padding: 10px;
  width: 200px;
}
button {
  padding: 10px;
  background-color: rgb(13, 141, 126);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/*Interview Section*/

.interview {
  margin-left: 60px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
/*Interview Section*/
.interview {
  background-color: white;
  padding: 20px;
  margin: 20px;
  color: black;
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 80px;
}
